# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
<br>Objectives:
- List of Popular Languages for Data Science
- List of Libraries for Data Science
- Examples of Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools |
|:--------:|
|  Jupyter Notebooks   |
|  TensorFlow   |
|  Hadoop   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
num = (3*4)+5
print(num)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
Daniel Segal